.cache/
build/
state/
*.ini
console_history.txt
**/*.bin
**/*.spv
**/.build_mode
.idea/
third_party/glm
third_party/raylib
third_party/tinycthread
third_party/Unity
CMakeLists.txt.user
src/dialogues/
.DS_Store
ouro.cvar

# Valgrind output files
cachegrind.out.*
callgrind.out.*
massif.out.*
dhat.out.*
